@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --brown: #562100;
    --lightest-brown: #56210025;
    --dark-brown: #351302;
    --gold: #FFD84A;
    --dark-gold: #d3ad26;
    --yellow: #ffe30ef3;
    --white: #fff;
    --black: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


::selection {
    color: #fff;
    background: var(--lightest-brown);
}

/* ------------------>Main Style<------------------ */
nav {
    background-color: var(--dark-brown);
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

nav h1 a {
    font-weight: bold;
    font-size: x-large;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}

.wrapper {
    padding: 0 80px 80px;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-top: 24px;
}

.hero1 {
    max-width: 50%;
}

.hero1 h1 {
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
    margin: 0px 0 8px;
}

.hero1 .note {
    padding-right: 12px;
    font-size: large;
}

.hero2 {
    margin: 0 auto;
}

.hero2 .main-btn button {
    width: 100%;
    display: block;
    margin: 4px auto;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid var(--dark-brown);
    border-radius: 2px;
    padding: 16px 0;
}

.hero2 .second-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    margin: 0 auto;
}

.hero2 .second-btn button {
    background-color: var(--white);
    font-weight: normal;
    font-size: medium;
    border: 1px solid var(--dark-brown);
    border-radius: 2px;
}

.hero2 .second-btn button a {
    text-decoration: none;
    color: var(--dark-brown);
}

.hero2 .second-btn button:hover {
    background-color: var(--yellow);
    transition: 0.7s;
}

.doc {
    margin-top: 24px;
    padding: 10px 20px 20px;
    background-color: var(--lightest-brown);
}

.doc h1 {
    text-align: center;
    font-size: xx-large;
}

.doc p {
    margin-left: 12px;
}

.doc ul {
    margin-left: 60px;
}

.history {
    margin-top: 24px;
}

.history h1 {
    text-align: center;
    font-size: xx-large;
}

.history .stud-operations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
}

.history .stud-operations form button {
    background-color: var(--white);
    font-weight: normal;
    font-size: medium;
    border: 1px solid var(--dark-brown);
    border-radius: 2px;
}

.history .stud-operations form button:hover {
    background-color: var(--yellow);
    transition: 0.7s;
}

.stud-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--dark-brown);
    border-radius: 6px;
}

.stud-card {
    display: block;
    padding: 10px;
    margin: 10px;
    min-width: 180px;
    max-width: 200px;
    min-height: 170px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 2px 3px 2px 1px rgba(0, 0, 34, 0.3);
}

.stud-card form {
    display: block;
    margin: auto 0;
    height: 100%;
}

.stud-card form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    height: 100%;
}

.stud-card form ul li {
    list-style: none;
    text-align: center;
}

.stud-card form ul .name {
    font-weight: bold;
}


.stud-card form a {
    display: block;
    width: 100%;
    background-color: var(--white);
    border: 0;
    color: var(--dark-gold);
    text-decoration: underline;
    margin: 0 auto;
    text-align: center;
}


.footer .dev-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 48px 0 100px;
    background-color: var(--dark-brown);
    color: var(--white);
}

.footer .dev-details .detail {
    max-width: 500px;
    text-align: center;
}

.footer .dev-details .details-head {
    margin-bottom: 8px;
}

.footer .dev-details h3,
.footer .dev-details p {
    margin: 0;
    text-align: center;
}

.footer .dev-details a {
    text-decoration: none;
    color: var(--gold);
}

/* ------------------> record_meeting.html Style <------------------ */
.record-body {
    max-width: 700px;
    margin: 0 auto;
}

.record_meeting {
    background-color: var(--lightest-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark-brown);
    border-radius: 4px;
    margin: 20px;
    padding: 16px;
}

.rcd-btn {
    display: inline-block;
    background-color: var(--dark-brown);
    border-radius: 4px;
    border: 1px solid var(--dark-brown);
    color: var(--white);
    text-align: center;
    font-size: 1em;
    padding: 5px 2px;
    width: auto;
    cursor: pointer;
    margin: 5px auto;
    font-weight: bold;
    width: 500px;
}

.rcd-btn:hover {
    background-color: var(--gold);
    color: var(--dark-brown);
    transition: 0.25s;
}

.record_meeting .stud-name  {
    margin-top: 40px;
}

.record_meeting .stud-name form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    margin-bottom: 36px;
}

.record_meeting .stud-name form input {
    border: 2px solid var(--brown);
    border-radius: 4px;
    width: 100%;
    padding: 8px;
}

.record_meeting .stud-name form button {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.record_meeting .notes {
    max-width: 500px;
    margin: 20px 4px 48px;
}

.record_meeting .notes ul {
    margin-top: 8px;
    margin-left: 36px;
}

.record_meeting .new-recording {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.record_meeting .new-recording .record-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 20px;
}

.record_meeting .new-recording .record-btn textarea {
    background: var(--white);
    width: 500px;
    height: 150px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid var(--dark-brown);
    border-radius: 4px;
    /* resize: none; */
}

#record-btn {
    background-color: var(--gold);
    color: var(--black);
}

#record-btn:hover {
    background-color: var(--dark-gold);
}

/* ------------------>upload_recording.html Style<------------------ */
.upload-file-form .upload-box {
    border: 2px solid var(--brown);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 24px 0;
}

.upload-file-form .upload-box input[type="file"] {
    color: var(--brown);
    text-align: center;
    font-size: large;
}

.upload-file-form .upload-box input[type="file"]::file-selector-button {
    visibility: hidden;
}

.upload-file-form .upload-box label {
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--brown);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

#upload-btn {
    background-color: var(--gold);
    color: var(--black);
    margin-top: 28px;
}

#upload-btn:hover {
    background-color: var(--dark-gold);
}


/* ------------------> meeting_details.html Style <------------------ */


/* ------------------> add_student.html Style <------------------ */
.add-stud-section {
    margin: 20px 0 24px;
}

.add-stud-section h1 {
    margin: 32px 0 12px;
    text-align: center;
}

.add-stud-section .add-stud-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 12px;
    font-size: large;
}

.add-stud-section .add-stud-form input {
    padding: 4px;
    border: 2px solid var(--brown);
    border-radius: 4px;
}

.add-stud-section .add-stud-form select {
    padding: 6px;
    border: 2px solid var(--brown);
    border-radius: 4px;
}

.add-stud-section .add-stud-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


/* ------------------> Table Style <------------------ */
.table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
    margin: 30px 0 0 0;
}

table {
    max-width: 95%;
    min-height: 250px;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 1em;
    margin: 0 auto 30px auto;
    border-radius: 5px 5px 0 0;
}

table thead tr {
    background-color: var(--dark-brown);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    width: auto;
    overflow: auto;
    padding: 10px 5px;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: var(--forth-color);
}

table tbody tr:last-of-type {
    border-bottom: 4px solid var(--gold);
}


/* ------------------> Button Style <------------------ */
button {
    display: inline-block;
    background-color: var(--gold);
    border-radius: 4px;
    border: 1px solid var(--dark-brown);
    color: var(--dark-brown);
    text-align: center;
    font-size: 1em;
    padding: 5px;
    width: auto;
    cursor: pointer;
    margin: 5px auto;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


button:hover {
    background-color: var(--yellow);
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

/* ------------------> ScrollBar <------------------ */
::-webkit-scrollbar {
    width: 3px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}