<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Email</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="icon" href="../static/LU logo.png" type="image/x-icon">
    <script src="../static/handler.js"></script>
</head>
<body>
    <nav>
        <h1><a href="/">advising tool (Alpha version)</a></h1>
    </nav> 


    <section class="footer">
        <div class="dev-details">
            <div class="detail">
                <h3 class="details-head">Developer Details</h3>
                <p>Thaksheel Alleck</p>
                <a href="mailto:tna324@lehigh.edu">tna324@lehigh.edu</a>
                <p>Industrial and Systems Engineering and Marketing dual Degree student at Lehigh University</p>
            </div>
        </div>
    </section>
</body>
</html>